.login-container {
  height: 100vh;
  background-color: #f5f5f5;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

button[type="submit"] {
  margin-top: 20px;
}