.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.register-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

button[type="submit"] {
  width: 100%;
  margin-top: 20px;
}